body {
  font-family: "Nunito", sans-serif;
}
.aa a {
  padding: 0px 15px;
}
div.aa {
  text-align: center;
  background-color: pink;
  padding: 10px;
  margin-top: 5px;
}
nav.ab {
  text-align: center;
  text-decoration: none;
  font-size: 30 rem;
  margin: 30px;
  background-color: grey;
}
.ab a:hover {
  color: white;
  background-color: orange;
}
nav.ab a {
  text-decoration: none;
  background-color: white;
  padding: 20px;
  color: black;
}
.ac img {
  width: 90%;
  margin: 0px 80px;
}
section.ac {
  background-color: grey;
}

section.ad {
  background-color: green;
}
.ad img {
  width: 550px;
  height: 550px;
  padding: 20px;
  margin: 130px;
  background-color: black;
}
main {
  text-align: left;
}
iframe {
  margin-top: 20px;
}
table.tb {
  text-align: center;
  background-color: grey;
  color: white;
  width: 100%;
}

tbody,
h2 {
  text-align: center;
}
tbody {
  margin-left: 100px;
}
td {
  padding: 20px;
  text-align: center;
}
h2 {
  background-color: blue;
  padding: 40px;
  margin: 10px;
  width: 96%;
}
